$theme-black-color: #1f1e24;
$theme-white-color: #f0f0f02f;
$theme-text-color: #ececef;

$desktop-left-panel-width: 255px;

$mobile-default-padding: 15px;

$desktop-header-height: 45px;

$desktop-footer-height: 55px;

$desktop-main-height: calc(100vh - $desktop-header-height - $desktop-footer-height);

$mobile-header-height: 40px;

$desktop-default-padding: 15px;

