$theme-black-color: #1f1e24;
$theme-white-color: #f0f0f02f;
$theme-text-color: #ececef;
$theme-left-panel: 255px;
$theme-header: 45px;
$theme-footer: 55px;
$theme-main-height: calc(100vh - $theme-header - $theme-footer);

$mobile-header-height: 40px